@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css');

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

section#itemsInner{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

article#items{
    position: relative;
}

div.moreleft, div.moreright {
    position: absolute;
    height: 100%;
    width: 2em;
    background: rgba(255, 255, 255, .5);
    bottom: 0;
}

div.moreleft {
    left: 0;
}

div.moreright {
    left: 0;
}

.scrollleft, .scrollright {
    position: absolute;
    transform: scaleY(2);
    bottom: 50%;
    font-size: 1.2em;
    font-weight: 100;
    margin-left: 10px;
    margin-right: 10px;
}

.scrollleft{
    left: 0;
}

.scrollright{
    right: 0;
}

a.left-button, a.right-button {
    text-decoration: none;
    color: rgb(60, 60, 60);
}